<html>
	<head>
		<title>Livestreams - Platoon DJs</title>
		<link rel="icon" href="{{ url_for('static',filename='favicon.png') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="header">
			<h1><a href="/">Livestream Archive - Platoon DJs</a></h1>
		</div>
		<div class="content">
			{% for stream in streams %}
				<h2>{{stream.name}}</h2>
				<video width="80%" controls>
				  	<source src="{{stream.filepath}}" type="video/mp4">
				  	Your browser does not support HTML5 video.
				</video>
				<br><br><br>
			{% endfor %}
		</div>
		<div class="footer">
	      	{% block footer %}
	      		&copy; Copyright 2018 by <a href="https://awide.se/"><b>Arvid Widerberg</b></a>.
	      	{% endblock %}
	    </div>
	</body>
</html>
